body{
	padding: 0;
	margin: 0;
	font-family: 'Sintony', sans-serif;
	background:#000000;
	overflow-x: hidden;
}
ul, li{
	display: block;
	padding:0;
	margin:0;
}
h1, h2, h3,h4 {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	color:#ffffff;
}
p{
	line-height: 1.6em ;/*ego i letter-spacing: v em*/
	color: #ffffff;
	font-weight: 700;
}
.navbar-dark{
	background:#000000;
}
.menu{
	margin-top: 10px;
}
.menu__item{
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
	/*margin:4px 2px 2px;*/
}
nav a{
	color:#ffffff;
	padding: 2px;
	border-radius: 5px;
}
nav a:hover{
	color:#ffffff;
	background: rgba(255, 255, 255, .3);
	text-decoration: none;
}
.cta{
	background: #215663;
	color: #ffffff;
	font-size:14px;
	border-radius: 3px;
	padding: 13px 10px;
	text-transform: uppercase;
	display: block;
	cursor:pointer;
	width: 200px;
	border:0;
	font-weight: 700;
	text-align: center;
	float:right;
	right:5px;
}
.cta:hover{
	text-decoration: none;
	color:#ffffff;
}
header i{
	margin-right: 13px;
}
.main_header{
	padding: 24px 0;
}
#logo{
	max-width: 300px;
	height: 90px;
	margin-top: -10px;
	/*border-radius:15px;*/
	box-shadow: 3px 3px #000066;
}
.main{
	max-height: 700px;
	max-width: 1100px;
	margin: 3% auto;
}
img{
	max-width:100%;
	height:auto;
	object-fit: contain;
}
.contact{
	background: #000000;
	border-bottom: 1px solid #dde3e7;
	padding:10px 0;
	margin:10px;
}
i{
	color: #ff9900;
}
.contact__info{
	font-size:20px;
	color:#ffffff;
	font-family: Arial, sans-serif;
	font-weight: 700;
	width: 350px;
}
.phone__number{
	width: 300px;
	margin-right: 5px;
	padding-left: 60px;
}

.history__title, .service__title{
	font-size:35px;
	margin-bottom: 25px;
	margin-top: 30px;
}
.history__text{
	font-size:14px;
}
.service__text{
	font-size:17px;
	line-height: 1.7em ;
}
.service__title{
	margin-top: 15px;
}
.history__button{
	width:145px;
	margin-top: 48px;
}
.history__img{
	padding-top:35px;
	margin-top: 20px;
}
.service_type{
	margin-top:10px;
}
.cargo__img{
	text-align: center;
	margin-top:20px;
}
.cargo__img h3{
	padding:1px;
}
.cargo__img p{
	font-size:18px;
	margin-bottom:20px;
}
.footer{
	background: #000000;
	color:#ffffff;
	font-size:14px;
	padding:10px;
	border-top:1px solid #ffffff;
}
footer .email, .phone__number{
	padding:3px;
	text-align: left;
}
footer a{
	color:#ffffff;
	font-size: 16px;
}
footer a:hover{
	color:#ffffff;
	text-decoration: none;
}
.social  ul li{
	display: inline-block;
}
.social i {
	font-size:16px;
	margin:5px;
	color:#ffffff;
	margin-left:-1px;
}

@media (max-width: 960px) {
	.history__img{
		margin: 15px;
		padding-top: 5px;
	}
}